aiohttp==3.9.5
hikari==2.0.0.dev125
hikari-lightbulb==2.3.5
hikari-miru==4.1.1
lavalink-rs==0.12.0
PyYAML==6.0
requests
pillow==10.3.0
google-api-python-client==2.127.0
schedule==1.2.1
nekos.py==1.1.0
selenium==4.20.0
webdriver-manager==4.0.1
nltk==3.8.1
pytz==2024.1
captcha==0.5.0
aiofiles==23.2.1
